@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
@import "reset.css";
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";

/*screens*/
@import "screens/login.css";

html {
  width : 400px;
  height : 850px;
}
body {
  font-family: 'Open Sans', sans-serif;
}


