#friends-diplat-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 10px 0px;
    font-size: 18px;
    margin-bottom: 10px;
}

#friends-diplat-link i{
    color: rgba(0,0,0,0.3);
}