.nav {
    position:fixed;
    bottom: 0;
    width: 400px;
    background-color: #F9F9FA;
    padding : 20px 50px;
    box-sizing : border-box;
    border-top : 1px solid rgba(121,121,121,0.3)
}



.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color : #2E363E;
    position : relative;
}

@keyframes notificationAnimation {
    0% {
        transform :none;
    }
    50% {
        transform :translateY(-5px) rotateY(360deg) ;
    }
    100% {
        transform: none;
    }
}




.nav__notification {
    background-color: tomato;
    color:white;
    font-weight: 400;
    height: 20px;
    width:20px;
    border-radius: 10px;
    display : flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -11px;
    bottom : 16px;
    animation: notificationAnimation 2s ease-in-out infinite;
}

